<%# <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid"> %>

<header>
  <nav data-controller="toggle-nav" class="navbar">
    <%= link_to root_path, class:"logo" do %>
    <%= image_tag "travel_guardian_nav_pic.png" %>
    <span class="logo-text">Travel Guardian</span>
    <% end %>

    <ul data-toggle-nav-target="navMenu" class="nav-menu hidden align-now">
      <li class="nav-item">
        <%= link_to "Find hotel", root_path, class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to "My favourites", favourites_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Travel tips", emergency_contacts_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <% if user_signed_in? %>
              <% if current_user %>
                  <%= link_to destroy_user_session_path, class: "dropdown-log-out", data: { turbo_method: :delete } do %>
                  Log out
                  <% end %>
                    <%# <%= image_tag current_user.image, class: "profile-image", alt: "Profile" %>
                      <% end %>
      <% else %>
            <%= link_to "Log in", new_user_session_path, class: "sign-in" %>
          <% end %>
      </li>
    </ul>
    <div data-action="click->toggle-nav#toggleMenu" data-toggle-nav-target="hamburger" class="hamburger">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </nav>
</header>
