<div class="search-banner" style='background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url("<%= asset_path('london-image.jpg') %>"); height: 500px; background-size: cover; background-repeat: no-repeat;'>
    <div class="form-container">
      <%= form_tag hotels_path, method: :get do %>
        <%= text_field_tag :search, params[:search], class:"form-search-container" %>
        <%= label_tag :search, "" %>
        <%= submit_tag "Search" %>
      <% end %>
    </div>
  </div>
</div>
