<div class="container-crime">
  <h3 class="search-results">Based on your search... here is what we found</h3>
  <div class="d-flex">
    <h3 class="rating-text">This area has an average safety rating of:</h3>
    <% total_crime_rating = @hotels.sum(:crime_rating) %>
    <% average_crime_rating = total_crime_rating / @hotels.size %>
    <h3 class="average-crime-number"><%= average_crime_rating %></h3>
  </div>



<div class="map-container">
  <table class="d">
  <tr>
    <th><%=%> Crimes within the area of <%= params[:search] %></th>
    <th>Contact</th>
    <th>Country</th>
  </tr>
  <tr>
    <td><%= @categories %></td>
    <td><%= @dates %></td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Island Trading</td>
    <td>Helen Bennett</td>
    <td>UK</td>
  </tr>
  <tr>
    <td>Magazzini Alimentari Riuniti</td>
    <td>Giovanni Rovelli</td>
    <td>Italy</td>
  </tr>
</table>
  <div class="mapbox" style="width: 50%; height: 400px;"
    data-controller="map"
    data-map-hotel-markers-value="<%= @hotel_markers.to_json %>"
    data-map-crime-markers-value="<%= @crime_markers.to_json %>"
    data-map-hotel-icon-url-value="<%= asset_path('hotel-icon.png') %>"
    data-map-crime-icon-url-value="<%= asset_path('spyware.png') %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
</div>


<div class="card-product-container">
  <% @hotels.each do |hotel| %>
    <div class="card-product">
      <div class="img">
        <%= image_tag hotel.image %>
      </div>
      <div class="card-product-info">
        <h3><%= hotel.name %></h3>
        <p><%= hotel.address %></p>
        <h5><%= hotel.crime_rating %></h5>
        <%= link_to "View crime rates!", hotel_path(hotel), class: "btn btn-primary btn-font-white" %>
      </div>
    </div>
  <% end %>
</div>
