<div class="container mt-5">
  <div class="hotel-details mb-4">
    <h1 class="mb-3"><%= @hotel.name %></h1>

    <div class="hotel-image mb-3">
      <%= image_tag @hotel.image, alt: @hotel.name, class: "img-fluid" %>
    </div>

    <p><strong>Crime Rating:</strong> <%= @hotel.crime_rating %></p>

    <p><strong>Location:</strong> <%= @hotel.address %></p>

    <p><strong>Crime Categories:</strong>
    </p>

    <div class="favourites-section mb-4">
      <%= button_to "Add to Favorites", hotel_favourites_path(@hotel), method: :post, class: "btn btn-success" %>
    </div>

    <div class="report-section">
      <p>If you’ve witnessed a crime, <%= link_to "Report a Crime", hotel_reportform_path(@hotel), class: "btn btn-danger" %></p>
    </div>
  </div>
</div>
